/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
/* Search Box */
button#submit {
    position: relative;
    right: 35px;

}
button.search-mobile{
    display: none;
}
/* Search Result Lists */

#search-results {
    margin-top: 50px;
}

/* Card Hover */

.card {
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-50px);
}

/* Error Handling */

#error {
    color: #fff;
}

#error h3 {
    text-align: center;
    margin-top: 50px;
}

/* Loading Spinner*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    display: none;
    transition: all 0.3s ease;
    z-index: 999999999999999;
}
.loading{
   
}
.loading-spinner{
    background-color: #000;
    margin: auto;
    border: 3px solid #fff;
    position: fixed;
    left: 49%;
    top: 49%;
    display: none;
    transition: all 0.3s ease;
    z-index: 999999999999999;
    
}

/* Responsive */

@media (max-width: 640px){
    .loading-spinner {
        left: 46% !important;
    } 
    input#search-field{
        width: 100% !important;
    }
    button.search-mobile{
        display: block;
    }
}
    